<div class="d-grid gap-4 mt-1 text-center container display-6">
  <div class="row">
    <div>
      <Span>LinkedIn: </Span>
      <a target="_blank" href="https://www.linkedin.com/in/ibrahim620/">
        ../Ibrahim620</a
      >
    </div>
  </div>
  <div class="row">
    <div>
      <Span>GitHub: </Span>
      <a target="_blank" href="https://github.com/Ibrahim7201"
        >../Ibrahim7201</a
      >
    </div>
  </div>
  <div class="row">
    <div>
      <Span>Phone: </Span>
      <span>+2 01005048319</span>
    </div>
  </div>
  This is a work of art created by : <em>Ibrahim Abdelazim Mahmoud</em> 😁
</div>
